<h1>Get The <span id="buzz">BUZZ</span> On Trending News</h1>

<div id="wrapper">
  <div>Click The Headline To Add And View Your Comments</div>
  <div id="articles"></div>
</div>

<span id="comments"></span>

<br><br><br>
<div style="clear: both;"></div>

<footer>
  By Adrian Briones: For More,<a href="https://adrianb13.github.io/Responsive-Portfolio/">Click Here</a>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./assets/js/app.js"></script>